<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="/#/core/camera">PRC391</a>
    </div>
    <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value">
            {{ theme.name }}</nb-option>
    </nb-select>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action id="cart-icon" class="control-item" (click)="openWindow(window, 'Thông tin giỏ hàng')" icon="shopping-cart-outline" [badgeText]="products.length + ''" badgePosition="top right" badgeStatus="danger"></nb-action>
        <nb-action class="user-action" *nbIsGranted="['view', 'user']">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="username" [picture]="picture">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>
<ng-template #window let-data>
    <nb-card style="width: 100%">
        <nb-card-body style="max-height: 60vh; overflow: auto; height: 60vh">
            <div class="container">
                <div *ngFor="let product of products" class="row box my-3 p-3">
                    <div class="col-12 col-lg-4" style="align-self: center; text-align: center;">
                        <img [src]="product.Image" [alt]="product.Name" style="width: 100%; height: 100%" />
                    </div>
                    <div class="col-12 col-lg-8 p-lg-5 text-lg-left text-center">
                        <div>
                            <span><strong>{{product.Name}}</strong></span>
                        </div>
                        <div class="my-3">
                            <button (click)="useChange('sub', product.Id)" [status]="'primary'" [appearance]="'outline'" [size]="'small'" nbButton>
                <span>
                  <nb-icon [icon]="'minus-circle-outline'"> </nb-icon>
                </span>
              </button>
                            <input style="width: 4rem; text-align: center;" type="number" (blur)="useChange('update', product.Id, product, $event.target.value)" [value]="product.QuantityChoose" nbInput [fieldSize]="'small'" />
                            <button (click)="useChange('extra', product.Id)" [status]="'primary'" [appearance]="'outline'" [size]="'small'" nbButton>
                <span>
                  <nb-icon [icon]="'plus-circle-outline'"> </nb-icon>
                </span>
              </button>

                        </div>

                    </div>
                    <div class="col-12 mt-3">
                        <button class="float-left" fullWidth (click)="useChange('remove', product.Id)" [status]="'danger'" [appearance]="'outline'" nbButton>
                    <span>
                      <nb-icon [icon]="'trash-2-outline'"> </nb-icon>
                    </span>
                  </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="products.length === 0" style="height: 100%; display: flex; justify-content: center; align-items: center;">
                            <img src="../../../../assets/empty-cart.png" width="250" height="250" />
                        </div>
                    </div>
                </div>

            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="row">
                <div class="col-12 text-center px-3">
                    <button (click)="buy()" [disabled]="products.length === 0" [status]="'success'" nbButton fullWidth>
                <span>
                  Xác nhận <span *ngIf="products.length > 0" ><strong>Tổng: {{useChangePrice(total) | number: '.0'}} triệu</strong></span>
                </span>
              </button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>
