<nb-card style="height: 75vh;">
    <nb-card-header>
        <div class="row">
            <div class="col-10">
                <app-bread-crumb [home]="home" [menu]="menu"></app-bread-crumb>
            </div>
            <div class="col-2">
                <nb-select placeholder="Mục" [(ngModel)]="value" fullWidth>
                    <nb-option *ngFor="let option of [{label: 'Cập nhật hồ sơ', value: 'profile'}, {label: 'Cập nhật mật khẩu', value: 'password'}, {label: 'Lịch sử mua hàng', value: 'history'}]" [value]="option.value">
                        {{ option.label }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <app-account-history *ngIf="value === 'history'"></app-account-history>
        <app-account-profile *ngIf="value === 'profile'"></app-account-profile>
        <app-account-password *ngIf="value === 'password'"></app-account-password>
    </nb-card-body>
</nb-card>
