<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <form (ngSubmit)="update()" [formGroup]="form" aria-labelledby="title">

            <div class="form-control-group">
                <label class="label" for="input-old-password">Mật khẩu cũ:</label>
                <input [formControl]="form.get('OldPassword')" nbInput fullWidth name="old-password" type="password" id="input-old-password" placeholder="Nhập mật khẩu cũ" fieldSize="large" [status]="form.get('OldPassword').dirty ? (form.get('OldPassword').invalid  ? 'danger' : 'success') : ''">
                <ng-container *ngIf="form.get('OldPassword').invalid && form.get('OldPassword').touched ">
                    <p class="caption status-danger" *ngIf="form.get('OldPassword').invalid && (form.get('OldPassword').dirty || form.get('OldPassword').touched)">
                        Vui lòng nhập mật khẩu cũ
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-password">Mật khẩu mới:</label>
                <input [formControl]="form.get('Password')" nbInput fullWidth name="password" type="password" id="input-password" placeholder="Nhập mật khẩu mới" fieldSize="large" [status]="form.get('Password').dirty ? (form.get('Password').invalid  ? 'danger' : 'success') : ''">
                <ng-container *ngIf="form.get('Password').invalid && form.get('Password').touched ">
                    <p class="caption status-danger" *ngIf="form.get('Password').invalid && (form.get('Password').dirty || form.get('Password').touched)">
                        Vui lòng nhập mật khẩu mới và độ dài ngắn nhất là 6 ký tự
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-rePassword">Nhập lại mật khẩu:</label>
                <input [formControl]="form.get('RePassword')" nbInput fullWidth name="rePassword" type="password" id="input-rePassword" placeholder="Nhập lại mật khẩu mới" fieldSize="large" [status]="form.errors && form.errors['notSame']  ? 'danger' : 'success'">
                <ng-container *ngIf="form.errors && form.errors['notSame']">
                    <p class="caption status-danger" *ngIf="form.errors && form.errors['notSame']">
                        Vui lòng nhập lại mật khẩu giống ở trên
                    </p>
                </ng-container>
            </div>
            <br>
            <button nbButton status="primary" size="large" [disabled]="!form.valid" [class.btn-pulse]="!form.valid">Cập nhật</button>
        </form>
    </div>
</div>
